.mat-tab-link {
    height: auto;
    // width: 25% !important;
    // padding: 0;
    opacity: 1;
    min-width: 0px;
}

.mat-tab-nav-bar {
  border: 0px;
}

a.bg-primary:focus {
  background-color: #666 !important;
}

a.bg-primary:hover {
  background-color: #666 !important;
}
